.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
}

.arrow-button-container {
  position: absolute;
  z-index: 2;
  left: -24px;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

.arrow-button-container:not(:first-child) {
  left: auto;
  right: -24px;
}

.arrow-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #010002;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease-out;
  background: #fffa;
  cursor: pointer;
}

.arrow-button > svg {
  width: 2em;
  height: 2em;
  padding-right: 6px;
}

.arrow-button-container:not(:first-child) > .arrow-button > svg {
  transform: rotateY(180deg);
}

.arrow-button:hover {
  transform: scale(1.05, 1.05);
}

.scrollable-content {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  pointer-events: none;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

li.list-item {
  padding-left: 0;
  padding-right: 0;
}

ul.list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  pointer-events: fill;
}
